body {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 16px;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

/* .hidden {
  display: none;
} */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  width: 500px;
  max-width: 80%;
  padding: 30px 60px 80px;
  color: #000000;
  text-align: center;
  background-color: #0984e3;
  border-radius: 5px;
  z-index: 10;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

h1 {
  font-family: "Original Surfer";
  font-size: 48px;
}

h2,
h3,
h4,
h5 {
  font-family: "Original Surfer";
  font-size: 1.9rem;
}

p {
  font-family: "arial";
  font-size: 1.5rem;
}

/* board */

#game-message {
  padding: 5px 5px;
}
#to-do {
  padding: 5px 5px;
}
#game-board {
  margin: 40px 0;
}

.btn-board {
  display: inline-block;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.btn-board:hover {
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
  background-color: #55efc4;
}

#green-btn {
  border-top-left-radius: 200px;
  background-color: #00b894;
}

#green-btn:hover {
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
  background-color: #55efc4;
}

#green-btn.glow {
  background-color: #55efc4;
  box-shadow: inset 0px 0px 0px 3px white;
  box-sizing: border-box;
}

#red-btn {
  border-top-right-radius: 200px;
  background-color: #f0003c;
}

#red-btn:hover {
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
  background-color: #ff537e;
}

#red-btn.glow {
  background-color: #ff537e;
  box-shadow: inset 0px 0px 0px 3px white;
  box-sizing: border-box;
}

#blue-btn {
  border-bottom-left-radius: 200px;
  background-color: #0984e3;
}

#blue-btn:hover {
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
  background-color: #61aefc;
}

#blue-btn.glow {
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
  background-color: #61aefc;
}

#yellow-btn {
  border-bottom-right-radius: 200px;
  background-color: #fded56;
}

#yellow-btn:hover {
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
  background-color: #ffe48c;
}

#yellow-btn.glow {
  box-shadow: inset 0px 0px 0px 2px white;
  box-sizing: border-box;
  background-color: #ffe48c;
}

/* Section start game */

#start-game {
  height: 20px;
  padding: 30px 30px;
  margin: 0 auto;
}

/* Button start game */

button {
  background-color: #f0003c;
  color: white;
  position: relative;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Original Surfer";
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #55efc4;
  color: rgb(70, 85, 138);
}

#btn-right {
  display: flex;
  flex-direction: row-reverse;
}

#popup-btn {
  width: 70%;
}

#close-button {
  background-color: transparent;
  color: #f0003c;
  font-size: 1.8rem;
  padding: 2px 10px;
  box-shadow: none;
  cursor: pointer;

}
